{% extends "layout.html" %}
{% block content %}
  <div class="home">
        <h1>Submit Encounters</h1>
  </div>
  <form action="/encounter" method="post" enctype=multipart/form-data>
    <div class="mb-3">
      <label for="user" class="form-label">User: </label>
      <input type="text" class="form-control" id="user" name="user">
    </div>
    <br>
    <div class="mb-3">
      <label for="sealion_id" class="form-label">SeaLion_ID: </label>
      <input type="text" class="form-control" id="sealion_id" name="sealion_id">
    </div>
    <br>
    
    <div class="mb-3">
      </div>
      <div class="mb-3">
        <label for="timeofday" class="form-label">Time Of Day: </label>
        <input type="time" class="form-control" id="timeofday" name="timeofday" >
      </div>
      <br>
      <label for="Day">Day:</label>
      <select id="day" name="day">
        <option>Choose Day</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
    </select>
    <br>
    <br>
      <label for="month">Month:</label>
      <select id="month" name="month">
        <option>Choose Month</option>
        <option value="January">January</option>
        <option value="Feburary">Februrary</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
    <br>  
    <br>
    <label for="year">Year:</label>
      <select id="year" name="year">
      <option value="2022"> 2022 </option>
      <option value="2023"> 2023</option>
      <option value="2024"> 2024 </option>
      <option value="2025"> 2025</option>
      <option value="2026"> 2026</option>
      <option value="2027"> 2027 </option>
      <option value="2028"> 2028</option>
      <option value="2029"> 2029 </option>
      <option value="2030"> 2030</option>
      <option value="2031"> 2031</option>
    </select>
    <br>  
    <br>
    <div class="mb-3">
      <label for="location" class="form-label">Location: </label>
      <input type="text" class="form-control" id="location" name="location">
    </div>
    <br>
    <div class="mb-3">
      <label for="upload">Add Image: </label>
      <input type=file name=file>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Submit Encounter</button>
</form>
<p> {{error}} </p>
{% endblock %}