{% extends "layout.html" %}
{% block content %}
  <div class="home">
        <h1>Submit Encounters</h1>
  </div>
  <form action="/encounter" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="name" type="text">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="age" name="age" placeholder="age" type="text">    
    </div>
    <button class="btn btn-primary" type="submit">Submit Encounter</button>
</form>
{% endblock %}