{% extends "layout.html" %}
{% block content %}
<head>
  <title>Register Now</title>
</head>
<body>
<div class="container">
  <h1> Register for Access to Encounters </h1>
<form action="/register" method="post">
<div class="mb-3">
  <label for="fName" class="form-label">First Name: </label>
  <input type="text" class="form-control" id="First Name" name="fname">
</div>
<br>
<div class="mb-3">
  <label for="lname" class="form-label">Last Name: </label>
  <input type="text" class="form-control" id="Last Name" name="lname">
</div>
<br>
<div class="mb-3">
  <label for="phoneNumber" class="form-label">Phone Number: </label>
  <input type="text" class="form-control" id="Phone Number" name="phoneNumber">
</div>
<br>
<div class="mb-3">
  <label for="occupation" class="form-label">Occupation: </label>
  <input type="text" class="form-control" id="Occupation" name="occupation">
</div>
<br>
  <div class="mb-3">
  <label for="Username" class="form-label">Username: </label>
  <input type="text" class="form-control" id="Username" name="username">
</div>
<br>
<div class="mb-3">
  <label for="Password" class="form-label">Password: </label>
  <input type="password" class="form-control" id="Password" name="password">
</div>
<br>
<div class="mb-3">
  <label for="Email" class="form-label">Email: </label>
  <input type="email" class="form-control" id="Email" name="email">
</div>
<br>
<button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
</body>
{% endblock %}