
{% extends "layout.html" %}
{% block content %}


  <div class="home">
        <h1>Results</h1>
          <table>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Sealion ID</th>
            <th>Year</th>
            <th>Month</th>
            <th>Day</th>
            <th>Time of Day</th>
            <th> Location </th>  
            <th>Notes</th>      
            <br>
          </tr>
          {% for u in entry %}
          <tr>
            <td>{{ u[0] }}</td>
            <td>{{ u[1] }}</td>
            <td>{{ u[2] }}</td>
            <td>{{ u[3] }}</td>
            <td>{{ u[4] }}</td>
            <td>{{ u[5] }}</td>
            <td>{{ u[6] }}</td>
            <td>{{ u[7] }}</td>
            <td>{{ u[8] }}</td>
            <br>
            
          </tr>
          {% endfor %}
        </table>


        

        {% for image in imageList %}
          <img src={{image}} width="400" height="500">
        {% endfor %}

  </div>
{% endblock %}