<!-- https://code-boxx.com/search-results-python-flask/-->
{% extends "layout.html" %}
{% block content %}
  <head>
    <title>Search Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Enter what you would like to search for</h1>
      <form action="" method="post">
        <div class="mb-3">
          <label for="sealion_id" class="form-label">Sealion ID: </label>
          <input type="text" class="form-control" id="sealion_id" name="sealion_id">
        </div>
         <br>
        <div class="mb-3">
          <label for="month">Month:</label>
          <select id="month" name="month">
            <option></option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
        <br>
        <div class="mb-3">
          <label for="year">Year:</label>
          <select id="year" name="year">
          <option></option>
          <option value="2022"> 2022 </option>
          <option value="2023"> 2023</option>
          <option value="2024"> 2024 </option>
          <option value="2025"> 2025</option>
          <option value="2026"> 2026</option>
          <option value="2027"> 2027 </option>
          <option value="2028"> 2028</option>
          <option value="2029"> 2029 </option>
          <option value="2030"> 2030</option>
          <option value="2031"> 2031</option>
        </select>
        </div>
         
         <br>
         <label for="location">Location:</label>
         <select id="location" name="location">
          <option></option>
         <option value="Baltra">Baltra</option>
         <option value="Española">Española</option>
         <option value="Fernandina">Fernandina </option>
         <option value="Floreana">Floreana</option>
         <option value="Genovesa">Genovesa</option>
         <option value="Isabela">Isabela</option>
         <option value="Marchena">Marchena</option>
         <option value="Pinta"> Pinta </option>
         <option value="Pinzon"> Pinzon</option>
         <option value="San Cristobal">San Cristobal</option>
         <option value="Pinzon"> Pinzon</option>
         <option value="Santa Cruz"> Santa Cruz</option>
         <option value="Santa Fe"> Santa Fe</option>
         <option value="Santiago"> Santiago</option>
       </select>
          <br>
          <br>
          <input class="btn btn-default" type="submit" value="Submit">
        </div>
    </div>
  {% if message %}
    <p class="message"> <strong>{{ message }}</strong>
  {% endif %}
  </body>
{% endblock %}